<!doctype html>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Centros Deportivos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            
                        <button onclick="location.href='#!/edit'" type="button" class="btn btn-primary">Editar</button>
                        


                    </li>


                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Codigo Postal"
                        ng-model="postalcodesearch">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                        ng-click="sendSearchPostalcode(postalcodesearch)">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
    <main role="main">
        <h1 class="mt-5"></h1>
        <div class="alert alert-success" role="alert" ng-if="success">
            {{successMsg}}
        </div>
        <div class="alert btn-danger" role="alert" ng-if="showError">
            Error: {{errorMsg}}
        </div>


               
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Codigo Postal</th>
                    <th scope="col">Año Comienzo</th>
                    <th scope="col">Superficie</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Pavimento</th>
                    <th scope="col">Campos Deportivos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sptc in sportscenters">
                    <td>{{sptc.id}}</td>
                    <td>{{sptc.street}}</td>
                    <td>{{sptc.name}}</td>
                    <td>{{sptc.postalcode}}</td>
                    <td>{{sptc.startingyear}}</td>
                    <td>{{sptc.surface}}</td>
                    <td>{{sptc.activity}}</td>
                    <td>{{sptc.paviment}}</td>
                    <td>{{sptc.sportfields}}</td>
                    
            </tbody>
        </table>
        <nav aria-label="Page navigation ">
            <ul class="pagination justify-content-center">
             
              <li class="page-item"><a class="page-link" ng-click="plusOffset(1)">1</a></li>
              <li class="page-item"><a class="page-link" ng-click="plusOffset(2)">2</a></li>
              <li class="page-item"><a class="page-link" ng-click="plusOffset(3)">3</a></li>
                
            </ul>
          </nav>
          <br><br>
          
           <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">ID</span>
                                </div>
                                <input autocomplete="off" type="number" class="form-control"
                                    ng-model="id" placeholder="16" />
                                    
                                    
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Calle</span>
                                </div>
                                <input autocomplete="off" type="text" class="form-control"
                                    ng-model="street" placeholder="Avda Virgen De La Esperanza" />
                                    
                                    
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre</span>
                                </div>
                                <input autocomplete="off" type="Text" class="form-control"
                                    ng-model="name" placeholder="C.D. Bermejales" />
                                <div class="input-group-prepend">
                                    
                                    
                                    <span class="input-group-text">Codigo Postal</span>
                                </div>
                                <input autocomplete="off" type="number" class="form-control"
                                    ng-model="postalcode" placeholder="410xx" />
                            </div>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Año Comienzo</span>
                                
                                <input autocomplete="off" type="number" class="form-control"
                                    ng-model="startingyear" placeholder="Año comienzo" />
                                <span class="input-group-text">Superficie</span>
                                </div>
                                <input autocomplete="off" type="number" class="form-control"
                                    ng-model="surface" placeholder="Superficie en m^2"/>
                            
                                    
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Actividad</span>
                                </div>
                                <input autocomplete="off" type="text"  class="form-control"
                                    ng-model="activity" placeholder="Futbol,Baloncesto..." />
                            </div>
                            

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Pavimento</span>
                                </div>
                                <input autocomplete="off" value="" type="text" class="form-control"
                                    ng-model="paviment" placeholder="Cesped,Hormigon..." />
                                    
                                    
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Campos Deportivos</span>
                                </div>
                                <input autocomplete="off" type="number" class="form-control"
                                    ng-model="sportfields" placeholder="0" />
                               
                            </div>
                            
                         <div align="center">
                         <button type="button" class="btn btn-primary boton-crear" 
                            ng-click="sendPost(id,street,name,postalcode,startingyear,surface,activity,paviment,sportfields)"
                             >Crear Centro</button>
                        </div>
                        </td>
  
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"></span>
        </div>
    </footer>


</html>